@import "Utility.scss";

.container{
    display: flex;    
    cursor: pointer;
    padding-right:0.8rem;
    align-items: center;
    color:$grey2;
}

.container > svg{
    font-size: 1.8rem;
    color:$grey2;
}



