@import "Utility.scss";

.container{
    flex-direction: column;
    padding: 1rem $paddingDef 3.18rem $paddingDef;   
}

.carouselContainer{
    display: flex;
    flex: 1;
    overflow: hidden;
}
    
.container > article{
    width:100%;
}


@media screen and (min-width: 992px) {   
    .container{
        flex-direction: row; 
        padding-top: 2.43rem;
    }
    
    .container > article{
        width:30.625rem;
    }
        
    .carouselContainer, .container > article{
        padding:0.5rem;
    }    

}