@import "/src/Utility.scss";

.container{
    width:100%;
    display: flex;
    height: $messageBarHeightM;
    background:$azure;
    color:$grey2;
    text-transform: uppercase;
    overflow: hidden;
    position: fixed;
    top:0rem;
    z-index: $indexMedium; 
    justify-content: center;
    align-items: center;
} 

.container > div{
    width:100%;
    max-width:$contentWidth;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.7rem 0.4rem;
    position: relative;
} 

.text{   
    font-size: 0.78rem;
    padding-right:1rem;
} 

@media screen and (min-width: 992px) {

        
    .container{
        height: $messageBarHeight;  
    }
    
    .container > div > svg{
        position:absolute;
        right:1rem;
    } 
    .text{        
        font-size: 0.625rem;
    } 

}