@import "Utility.scss";

.container, .container:focus{
    border:3px solid #ded3aa;
    background: $white;
    padding: 0rem 1.2rem;
    font-size: 0.75rem;
    display: flex;
    height: 3.46rem;
    min-width: 8rem;
    font-weight: 600;
    letter-spacing: 0.1px;
    cursor: pointer;
    transition: all 0.2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: $black;
    opacity:0.9;
   }
    
   .container:hover  {
        border:3px solid #ded3aa;
        background: #ded3aa;
        color: $black;
   }

   .container > svg{
    font-size: 1rem;
    margin-right: 0.4rem;
}


   
.black,
.black:focus {
    background-color: $black;
    border: 1px solid $black;
    color: $white;
}

.black:hover {
    background: lighten($black, 10%);
    color: $white;
}
