@import "Utility.scss";

.container{
    display: flex;
    background:$white;
    padding: 1.2rem 1.2rem 2rem 1.2rem;
    flex-direction: column;
    width: 100%;
}
.container h2{
    display: flex;
    max-width: 100%;
    padding: 1rem 0.4rem;
    margin-top: 0px;
}
.container  h2 svg{
    margin-left: auto;
    cursor:pointer;
}
.container li{  
    max-width: 100%;
    margin:0.4rem 0rem;
 }