@import "/src/Utility.scss";

.container{
    display: flex;    
    align-items: center; 
    justify-content: center;   
    width:100%;    
    height: $footerHeight;
    background:$white;
    overflow: hidden;
    position: relative;
    z-index: $indexMedium;   
    border-top:1px solid $grey;  
}

.container span{  
     font-size:0.81rem; 
     color: $grey2;
 }
 

@media screen and (min-width: 992px) {
    
    .container{

    }

}