
/*********************************/
/* VARIABLES */

$black2:#221613;
$black:#111111;
$defFamily: 'Lato', sans-serif; 
$textColor: #666; 
 
$grey: #e1e1e1;
$grey2: #868f93;
$white: #fff;
$azure: #d9e1e6;

$paddingViews:  1.2rem 0rem;
$paddingDef:  1rem;

$disclaimerHeight: 1rem;
$disclaimerHeightM: 3rem;
$headerHeight: 11rem;
$headerHeightM: 9.7rem;
$menuHeightM: 3.1rem;
$footerHeight: 4.43rem;

$indexTop:100;
$indexMedium:90;
$indexLow:80;








