
/*********************************/
/* VARIABLES */

$black2:#221613;
$black:#111111;
$defFamily: 'Lato', sans-serif; 
$textColor: #555555; 
 
$grey: #e1e1e1;
$greyLighter: #f4f4f4;
$grey2: #868f93;
$white: #fff;
$azure: #d9e1e6;
$azure2: #68899a;
$redForm: #E2071C;

$paddingViews:  1.2rem 0rem;
$paddingDef:  1rem;

$disclaimerHeight: 1.8rem;
$disclaimerHeightM: 3rem;
$headerHeight: 10.527rem;
$headerHeightM: 9.7rem;
$menuHeightM: 3.1rem;
$menuHeight: 4.857rem;
$footerHeight: 4.43rem;

$indexTop:100;
$indexMedium:90;
$indexLow:80;

$contentWidth: 71.87rem;








